* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

$color-blue: #0000FF;
nav {
    line-height: 0px;
    height: 44px;
    position: relative;
    padding: 10px 16px 10px 16px;
    @media screen and (min-width: 1024px){
        height:auto;
        padding:22px 100px 22px 100px;
    }
    .navbar {
        input[type=checkbox] {
            display: none;
        }
        input[type=checkbox]:checked~ul {
            display: flex;
            flex-direction: column;
            height: 224px;
            justify-content: space-evenly;
            @media screen and (min-width: 1024px) {
                position: static;
                display: flex;
                flex-direction: row;
                background: none;
                color: $color-blue;
                border: none;
                justify-content: flex-end;
            }
        }
        input:checked+label .close-icon {
            display: block;
            @media screen and (min-width: 1024px) {
                display: none
            }
        }
        input:checked+label .burger-icon {
            display: none;
        }
        display: flex;
        justify-content: space-between;
        .logo {
            img {
                width:24px;
                @media screen and (min-width: 1024px) {
                width:36px;
                }
            }
        }
        label {
            .menu-icon {
                display: flex;
                top: 10px;
                right: 16px;
                cursor: pointer;
            }
        }
        .burger-icon {
            display: block;
            font-size: 22px;
            @media screen and (min-width: 1024px) {
                display: none
            }
        }
        .close-icon {
            display: none;
            font-size: 22px;
            @media screen and (min-width: 1024px) {
                display: none
            }
        }
    }
    ul {
        display: none;
        position: absolute;
        top: 50px;
        right: 0px;
        border: gray 1px solid;
        padding-left: 0px;
        width: 100%;
        background: #0000EC;
        @media screen and (min-width: 1024px) {
            position: static;
            display: flex;
            background: none;
            color: black;
            border: none;
            background: none;
            color: black;
            border: none;
            justify-content: flex-end;
        }
        li {
            a {
                padding-left: 16px;
                font-size: 16px;
                letter-spacing: 0;
                line-height: 28px;
                font-family: 'IBM Plex Mono', monospace;
                text-transform: uppercase;
                color: white;
                padding-right: 16px;
                @media screen and (min-width: 1024px) {
                    padding-top:4px;
                    padding-right:0px;
                    padding-left:48px;
                    color: black;
                }
                &:hover {
                    color: yellow;
                    text-decoration: line-through;
                    @media screen and (min-width: 1024px) {
                        color: black;
                    }
                }
            }
        }
    }
}

header {
    font-family: 'IBM Plex Mono', monospace;
    margin: 16px;
    @media screen and (min-width: 1024px) {
        margin-left: 184px;
        margin-top: 120px;
    }
    .main-title {
        padding-right: 32px;
        margin-bottom: 16px;
        h1 {
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 36px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 42px;
            width: 100%;
            font-weight: normal;
            span {
                text-decoration: line-through;
            }
            @media screen and (min-width: 1024px) {
                width: 100%;
                font-size: 66px;
                color: #060A24;
                letter-spacing: 0;
            }
        }
    }
    h2 {
        font-family: 'IBM Plex Mono', sans-serif;
        color: #060A24;
        letter-spacing: 0px;
        line-height: 24px;
        font-size: 14px;
        height: 66px;
        .txt-desktop{
            display:none;
        }
        @media screen and (min-width: 1024px) {
            width: 628px;
            .txt-desktop{
                display: inline-block
            }
        }
    }
}

.btn {
    display: flex;
    text-decoration: none;
    a:link {
        text-decoration: none;
        color: #060A24;
    }
    a:visited {
        text-decoration: none;
        color: #060A24;
    }
    button {
        margin: 0 auto;
        margin-top: 36px;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        line-height: 22px;
        background: #00F3BB;
        width: 288px;
        border: none;
        height: 48px;
        font-weight: bolder;
        @media screen and (min-width: 1024px) {
            width: 226px;
            margin: 0;

        }
        &:hover {
            background: tomato;
            color: white;
            text-decoration: line-through;
            background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
            a {
                &:link {
                    color: white;
                }
                &:visited {
                    color: white;
                }
            }
        }
    }
}

.podcasts {
    position: relative;
    z-index: 0;
    width: 100%;
    height: auto;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    overflow: hidden;
    @media screen and (min-width: 1440px) {
        height:1024px
    }
    
    &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: white;
        top: 0;
        bottom: 0;
        right: 0;
        transform-origin: top left;
        transform: skew(-85deg);
        z-index: 1;
    }
    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: white;
        top: 0;
        bottom: 0;
        right: 0;
        transform-origin: bottom left;
        transform: skew(-85deg);
        z-index: 1;
    }
    /* &::before {
        margin-top: -5px;
        margin-left: 20px;
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: white;
        top: 0;
        bottom: 0;
        right: 0;
        left: 35px;
        transform-origin: top left;
        transform: skew(-85deg);
        z-index: 1;
    }
    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: white;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transform: inherit;
        transform-origin: bottom left;
        transform: skew(-85deg);
        z-index: 3;
    }*/
    .bg-podcasts {
        .episodes {
            margin: 0px 0px 21px 16px;
            padding-top: 64px;
            @media screen and (min-width: 1024px) {
                padding-top: 186px;
                padding-left: 168px;
            }
            h2 {
                font-family: 'IBM Plex Sans', monospace;
                color: white;
                @media screen and (min-width: 1024px) {
                    font-size: 48px;
                line-height: 62px;
                }


                font-size: 36px;
                line-height: 42px;
            }
        }
        .spotify-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-bottom: 186px;
            @media screen and (min-width: 1024px) {
                padding: 0px 44px 232px 44px;
            }
            .spotify {
                line-height: 0;
                
                iframe {
                    line-height: 0;
                    width: auto;
                    z-index: 2;
                    margin: 11px 11px 0px 11px;
                    @media screen and (min-width: 1024px) {
                        margin: 23px 11px 46px 11px;
                        width: 584px;
                    }
                }
            }
        }
    }
}

.floating-phone {
    transform: translateY(-15%);
    display: flex;
    flex-direction:column;
    align-items:center;
    @media screen and (min-width: 1024px) {
        transform: translateY(-15%);
        flex-direction: row;
        align-items: center;
        justify-content:center;
    }
    img {
        
        z-index: 2;
        width:100%;
        max-width: 360px;
        overflow: hidden;
        justify-content: center;
        @media screen and (min-width: 1024px) {
            width: 480px;
            max-width: 480px;
        }
    }
    .about-us {
        padding: 16px;
        
        @media screen and (min-width: 1024px) {
            line-height:24px;
        }
        h2, p {
            font-family: 'IBM Plex Mono', sans-serif;
            color: #060A24;
            letter-spacing: 0;
            line-height: 22px;
            font-size: 14px;
            @media screen and (min-width: 1024px) {
                width: 464px;
            }
        }
        p{
            @media screen and (min-width: 1024px) {
                font-size: 16px;
            }
            padding-bottom:8px;
        }
        h2 {
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 36px;
            line-height: 42px;
            padding-bottom:20px;
            @media screen and (min-width: 1024px) {
                font-size: 48px;
            }

        }
    }
}

.invited {
    margin-top: -30%;
    @media screen and (min-width: 460px) {
        margin-top:-10%;
    }
    @media screen and (min-width: 1024px) {
        margin-top: 36px;
    }
    .inv {
        padding-left: 16px;
        letter-spacing: 0;
        line-height: 22px;
        font-size: 14px;
        margin: 0 auto;
        width: 100%;
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 14px;
        @media screen and (min-width: 1024px) {
            width:600px;
            margin-left:200px;
            margin-bottom: 36px;
            font-size:48px;
            margin-top: -80px;

        }
    }
    /*.fprogrammers {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap:nowrap;
               
        }

        @media screen and (min-width: 1440px) {
            
            flex-wrap: wrap;

        }
        .fpic {
            flex-grow:1;
            margin-top: -5px;
            .row1{
                display:flex;
                flex-direction:row;
            }
            .row2{
                display:flex;
            }
            img {
                width: 100%;
                @media screen and (min-width: 768px) {
                    flex-grow:1;
                                      
                }
                @media screen and (min-width: 1440px) {
                    width: 480px;
                    
                }
            }
        }
    }*/
.fprogrammers{
    img{
        width:100%;
        margin-top: -5px;

    }
    @media screen and (min-width: 1440px) {
        display: flex;
        flex-wrap: wrap;
        .fpic {
             margin-top: -5px;
             width: 480px;
             flex-grow:1;
        }
    }
}


}

.icons-list {
    h2 {
        font-family: 'IBM Plex Sans', sans-serif;
        color: black;
        letter-spacing: 0;
        font-size: 36px;
        margin-top: 25px;
        margin: 16px;
        @media screen and (min-width: 1024px) {
            width: auto;
            margin: 36px 0px 36px 200px;
        }
    }
    .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @media screen and (min-width: 1024px) {
            flex-direction: row;
            justify-content: center;
        }
        h3 {
            font-family: 'IBM Plex Sans', sans-serif;
            color: black;
            letter-spacing: 0;
            margin-top: 10px;
            height: auto;
            font-weight: bold;
            font-size: 24px;
            padding: 16px;
        }
        img {
            margin-top: 30px;
        }
    }
}

.latest-news {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 341px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    margin-top: 25px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    letter-spacing: 0;
    margin-top: 40px;
    height: auto;
    overflow: hidden;
    padding-bottom: 40px;
    @media screen and (min-width: 1024px) {
        padding-bottom: 151px;
    }
    &::before {
        margin-top: -6px;
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: white;
        top: 0;
        bottom: 0;
        right: 0;
        left: 65px;
        transform-origin: top left;
        transform: skew(-85deg);
        z-index: 1;
    }
    h2 {
        font-size: 36px;
        width: 288px;
        margin: 0 auto;
        margin-top: 50px;
        @media screen and (min-width: 1024px) {
            width: 100%;
            margin-top: 180px;
        }
    }
    .btn2 {
        display: flex;
        text-decoration: none;
        a:link {
            text-decoration: none;
            color: #060A24;
        }
        a:visited {
            text-decoration: none;
            color: #060A24;
        }
        button {
            margin: 36px 0px 36px 16px;
            font-family: 'IBM Plex Mono', monospace;
            font-size: 16px;
            color: #060A24;
            letter-spacing: 0;
            text-align: center;
            line-height: 22px;
            background: #00F3BB;
            width: 288px;
            border: none;
            height: 48px;
            font-weight: bolder;
            @media screen and (min-width: 1024px) {
                width: 226px;
                margin: 0 auto;
                margin-top: 36px;
            }
            &:hover {
                background: tomato;
                color: white;
                text-decoration: line-through;
                background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
                a {
                    &:link {
                        color: white;
                    }
                    &:visited {
                        color: white;
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
    }
    p {
        margin: 0 auto;
        text-align: center;
        font-family: 'IBM Plex Mono', sans-serif;
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
        padding-top: 24px;
        @media screen and (min-width: 1024px) {
            padding-top: 36px;
            font-size: 16px;
            margin-right: 50%;
        }
    }
    .social {
        padding-top: 16px;
        padding-bottom: 31px;
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 28px;
        @media screen and (min-width: 1024px) {
            padding-top: 36px;
            width: 196px;
            font-size: 18px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 28px;
        }
    }
}


/*
sass --watch source/stylesheets/index.scss build/stylesheets/index.css
*/